/* horizontal containers default setting */
.h-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* indented horizontal containers default setting */
.h-container-indented {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}
/* vertical containers default setting */
.v-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/* styling for flex containers */
div {
    color: #E6D8D0;
    flex-wrap: wrap;
    font-family:courier, fixed, monospace;
    font-size: 21px;
    font-size: 21px;
    margin: 0 2em 0 1em;
    text-align: right;
}
/* hyperlinks formatting */
a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
/* body formatting */
body {
    background-color: #443361;
}
/* main header formatting */
h1 {
    color: #76B78E;
    font-family: courier, fixed, monospace;
    font-size: 35px;
    margin-left: 1em;
    text-align: left;
    text-decoration: none;
}
/* secondary header formatting */
h2 {
    color: #76B78E;
    font-family: courier, fixed, monospace;
    font-size: 28px;
    margin-left: 1em;
    text-align: left;
    text-decoration: none;
}
/* header bar line formatting */
hr {
    color: #76B78E
}

p1 {
    color: #E6D8D0;
    font-family: courier, fixed, monospace;
    font-size: 21px;
    margin-left: 2em;
    text-align: left;
    text-decoration: none;
}

ul {
    color: #E6D8D0;
    font-family: courier, fixed, monospace;
    font-size: 21px;
    margin-left: 3em;
    text-align: left;
    text-decoration: none;
}